<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" 
         version="2.4" 
         xmlns="http://java.sun.com/xml/ns/j2ee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >
	<display-name>Home.Wcp</display-name>
	<filter>
		<filter-name>WikiFilter</filter-name>
		<filter-class>wiki.WikiFilter</filter-class>
	</filter>
	<filter-mapping>
	<filter-name>WikiFilter</filter-name>
	<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>
		Echo</display-name>
		<servlet-name>Echo</servlet-name>
		<servlet-class>
		wikitest.Echo</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Hello</display-name>
		<servlet-name>Hello</servlet-name>
		<servlet-class>
		wikitest.Hello</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>save</display-name>
		<servlet-name>save</servlet-name>
		<servlet-class>wiki.Save</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>display</display-name>
		<servlet-name>display</servlet-name>
		<servlet-class>
		wiki.Display</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Changes</display-name>
		<servlet-name>Changes</servlet-name>
		<servlet-class>
		wiki.Changes</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>NewChanges</display-name>
		<servlet-name>NewChanges</servlet-name>
		<servlet-class>
		wiki.NewChanges</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Echo</servlet-name>
		<url-pattern>/Echo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/Hello</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>save</servlet-name>
		<url-pattern>/save</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>display</servlet-name>
		<url-pattern>/bootstrap</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>display</servlet-name>
		<url-pattern>/display</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Changes</servlet-name>
		<url-pattern>/Changes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewChanges</servlet-name>
		<url-pattern>/NewChanges</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
